.splashText{
  font-family: 'Permanent Marker', cursive;
  font-size: 18vh;
  margin-top: 25vh;
  transform: rotate(-5deg);
  color: white;
  text-shadow: 2px 2px 0 rgba(0,0,0,.4);
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  padding-top: 90vh;
}

.test{
  background-color: pink;
}

.header {
  height: 100vh;
  padding-top: 50px;
  background: url('http://i.imgur.com/fxVVh2L.jpg') no-repeat center center fixed;
  background-size: cover;
}

.main-nav,
.main {
  position: relative;
}

.main-nav {
  background: white;
  transition: background 1s;
  border: 0;
  z-index: 150;
  margin-bottom: -80px;
}

.main{
  background: #fff;
  margin-top: 12vh;
  margin-bottom: -80px;
}

.main-nav a {
  color: #c73350;
}

.main-nav-scrolled a {
  color: white;
}
.nav > li > a:hover, .nav > li > a:focus {
  background-color: transparent;
  text-decoration: none;
}


.main-nav-scrolled {
  background: #c73350;
  transition: background 1s;
}

.header,
.main-nav-scrolled {
  position: fixed;
  width: 100%;
  top: 0;
  box-shadow: 0 2px 3px rgba(0,0,0,.4);
}

.sectionPad{
  padding-top: 15vh;
}

.btn{
  border: 5px solid white;
  background-color: rgba(0,0,0,.4) !important;
  border-radius: 50px;
  color: white;
  font-size: 25px;
  width: 150px;
}

.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
.container {
  padding-bottom: 50px;
}
